* {
    margin: 0 ;
    padding: 0 ;
}
body {
    margin: 0 ;
    padding: 0 ;
    font-family: "微软雅黑";
    background:#f5f5f5 !important;
}

.current_position{
    background:#eae9e9;
    width:1200px;
    height:75.5px;
    margin:0 auto;
    margin-top:30px;
}

.current_position_img{
   padding:25px;
   padding-left:40px;
}

.current_position_img span{
    font-size: 12px;
}

.group_survey{
    position:relative;
    text-align: center;
    width:1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.group_survey_left{
    width:251px;
    margin-top: 30px;
}
.group_survey_left>ul{
    margin-top: 90px;
    list-style: none;
}
.group_survey_left ul li{
     background: url("../img/group_survey/zuo_li_bg.jpg") no-repeat;
    width:223px;
    height:41px;
    line-height:41px;
    margin:20px;
 }
.group_survey_left ul li a{
    color:#000;
    text-decoration: none;
}
.group_survey_left ul li:hover{
    background: url("../img/group_survey/20170605141355941.jpg") no-repeat;
    transition:all .5s linear;
}

.group_survey_right div p{
    width:714px;
    text-align:left;
}
.group_survey_right{
    float: left;
    position:relative;
    bottom:470px;
    left:450px;
}

